*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}


body{
    background-image: url(utilities/handSignBG.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 7vh;
    padding: 3vh 0;
    padding-bottom: 3vh;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.menuContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap : 5vh
}

.home , .aboutUs , .howItWorks{
    cursor: pointer;
}

.startBtn{
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
    padding: 10px 20px;
    border-radius: 5px;
}

.title{
    /* font-family : cursive; */
    font-size : 6vh;
}

.signHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}
.handSignTitle{
    /* width : 10vh; */
    height : 35vh
}

.headingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh;
     */
     gap : 5vh;
     margin-bottom : 3vw;
}

.headingWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap : 2vh;
    padding : 3vw 19vw;
    text-align: center;
    /* color : #fff; */
}

.headingWrapper>h2{
    font-size: 8vh;
    font-weight: 100;
}

.lower{
    transform: translateY(5vh);
}

.boxContent{
    /* height : 100vh; */
    width : 100%;
    background-color: rgb(233, 238, 238);
    padding :5vw 3vw;
    display : flex;
    flex-direction: column;
    gap : 4vw;
}

.boxContainer{
    display : flex;
    flex-wrap: wrap;
    gap : 5vw;
    /* align-items: center; */
    justify-content: center;
}

.boxContent>h1{
    font-size : 4vw;
    font-weight : 100;
}

.boxes{
    border : 2px solid black;
    display : flex;
    flex-direction: column;
    gap : 1vw;
    flex : 1 1 40w;
    padding : 2vw;
    /* width : 40vw; */
    border-radius: 1vw;
    border-bottom: 7px solid black;
    cursor : pointer;
}

.workflowWrapper{
    padding : 3vw 5vw;  
}
.workflowWrapper>h1{
    font-size : 4vw;
    font-weight : 100;
    padding : 2vw 0;
    margin-bottom : 2vw;
}

.steps>img{
    height : 3vw;
}

.stepsContainer{
    display: flex;
    flex-direction: column;
    gap : 2vw;
}

.steps{
    display : flex;
    gap : 1.5vw;
    border : 1px solid black;
    padding : 2vw;
    cursor: pointer;
    background-color: rgb(233, 238, 238,0.7);
    border-bottom: 4px solid rgb(65, 62, 62);
    border-radius: 2vw 0 ;

}

.contentWrapper{
    display : flex;
    flex-direction: column;

}

.contentWrapper>h2{
    font-weight : 100;
}

.handsSigns{
    display : flex;
    justify-content: center;
    align-items: center;
    padding :5vw 3vw;
    background-color: #fff;
    flex-direction: column;
    gap : 2vw
}

.handsSigns>h2{
    font-size : 5vw;
    font-weight: 100;
    text-decoration: underline;
    text-underline-offset: 12px;
    text-decoration-thickness: 4px;
    color :rgb(65, 62, 62)
}

.handsSigns>img{
    height : 50vw;
}

.cameraWrapper{
    padding : 3vw 5vw;  
    text-align: center;
    gap : 1vw;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.cameraBox{
    height : 25vw;
    width : 60vw;
    border : 1px solid black;
}

.cameraWrapper>button{
    /* width : 40px; */
    padding : 1vw;
    font-size: 1.5vw;
}

.cameraWrapper>h1{
    font-size: 5vw;
}